---
const year = new Date().getFullYear();
---
<footer class="site-footer">
  <div class="site-footer-inner">
    <div>
      &copy; {year} Black Flag Intelligence &middot; auspex.blackflagintel.com
    </div>
    <div>
      <a href="/about">About</a>
      <a href="/methodology">Methodology</a>
      <a href="/api/">API</a>
      <a href="/rss.xml">RSS</a>
    </div>
  </div>
</footer>
